*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 1000px;
  height: 500px;
  border: 2px solid #fff;
}
.digital-container {
  font-size: 8rem;
  color: #fff;
  padding: 2rem;
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
